<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <title>SRV Prom</title>
</head>
<body>
<style>
    body {
        background: #708090;
        color: #070707;
    }
</style>
<table
        border="1"
        align="center"
        rules="rows"
        style="width:60%;">
    <!--Создаём строку-->
    <tr>
        <!--Создаём ячейку строки-->
        <td>

            <table
                    border="1"
                    bgcolor="#7FFFD4"
                    cellpadding="10"
                    style="width:100%; border-radius:5px;">
                <!--Создаём строку таблицы-->
                <tr>
                    <!--Создаём столбец таблицы-->
                    <th>
                        <!--Содержание ячейки столбца-->
                        <h1>SRV Сервис</h1>
                        <h3>Информационный портал</h3>
                        <!--Закрываем таблицу-->
                    </th>
                </tr>
            </table>

            <!--ОСНОВНОЙ КОНТЕНТ-->

            <!--В этой же ячейке контейнера создаём ещё одну таблицу
            для основного контента.
            Оформление как и в предыдущей таблице-->

            <table
                    border="1"
                    bgcolor="#e6e6fa"
                    cellpadding="10"
                    style="width:100%; border-radius:5px;">
                <!--Создаём строку-->
                <tr>
                    <!--Создаём ячейку
                    Оформление:
                    rowspan="2" - объединяем две ячейки в одну.
                    Число объединяемых ячеек по числу ячеек в сайдбаре.
                    style="width:80%" - основной контент занимает 80% всей площади,
                    оставшиеся 20% для сайдбара-->
                    <td
                            rowspan="2"
                            style="width:80%">
                        <h2>Главная</h2>
                        <!--Начинаем абзац с красной строки-->
                        <p style="text-indent:20px">
                            Вся информация о релизах GFP И SRV</p>

                        <p style="text-indent:20px">
                            <br />Server : Prom
                            <br />Service : dev
                            <br />Realese : 0.0.6a
                            <br />Client Bild : NULL
                            <br />Service Bild : NULL</p>
                        <!--Закрываем ячейку-->
                    </td>

                    <!--САЙДБАР-->

                    <!--Создаём ячейку сайдбара-->
                    <td bgcolor="#e6e6fa">
                        <h3>Меню</h3>
                        <p>
                            <a href="server">
                                <img src="https://trueimages.ru/img/42/f3/25a6c436.png">
                                <span style="margin-left:5px;">Info Servers</span></a>
                        </p>
                        <p>
                            <a href="r1">
                                <img src="https://trueimages.ru/img/42/f3/25a6c436.png">
                                <span style="margin-left:5px;">Релизы GFP</span></a>
                        </p>
                        <P>
                            <a href="r2">
                                <img src="https://trueimages.ru/img/42/f3/25a6c436.png">
                                <span style="margin-left:5px;">Релизы SRV</span></a>
                        </P>
                        <P>
                            <a href="stat">
                                <img src="https://trueimages.ru/img/42/f3/25a6c436.png">
                                <span style="margin-left:5px;">Сессии</span></a>
                        </P>
                        <P>
                            <a href="key">
                                <img src="https://trueimages.ru/img/42/f3/25a6c436.png">
                                <span style="margin-left:5px;">Токен</span></a>
                        </P>
                        <!--Закрываем строку Меню-->
                    </td>
                </tr>
                <!--Создаём строку с дополнительной информацией-->
                <tr>
                    <!--Ячейка с дополнительной информацией-->
                    <td
                            bgcolor="#e6e6fa"
                            align="center">
                        <h3>Status</h3>
                        <p>Prom : On
                        <p>AlterStand : off
                        <p>TestStand : On
                        <br>OSS : On </p>
                        <!--Закрываем ячейку с общей информацией
                        и таблицу основного контента-->
                    </td>
                </tr>
            </table>

            <!--ПОДВАЛ-->

            <!--Создаём таблицу подвала-->
            <table
                    border="1"
                    bgcolor="#7FFFD4"
                    height="100"
                    cellpadding="10"
                    style="width:100%; border-radius:5px;">
                <!--Создаём строку.-->
                <tr>
                    <!--Создаём столбец-->
                    <th>
                        <h3>Server Bild : SVR.03.02G</h3>
                        <!--Закрываем таблицу подвала. При желании в подвале можно
                        сделать несколько строк и столбцов-->
                    </th>
                </tr>
            </table>
            <!--Закрываем таблицу контейнера-->
        </td>
    </tr>
</table>
</body>
</html>

